@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
*{
    margin: 0;
    padding: 0;

}

body{
    background: url(ram.jpg) no-repeat center center fixed;
    background-size: cover;
}
.container{
    cursor: pointer;
    color: white;
    position: absolute;
    top: 25%;
    left: 40%;
}
.container h1{
    font-family: 'Heebo', sans-serif;;
    display: inline-block;
    font-size: 40px;
    border-bottom: 5px solid purple;
    margin-bottom: 15px;
    padding: 13px 0px;
}
.box{
    margin: 20px 0px;
    border-bottom: 2px solid purple;
    width: 100%;
    
}
.box input{
    background: none;
    width: 75%;
    padding: 5px 0px;
    font-size: 20px;
    border:none;
    outline: none;
    color: white;
}
.box i{
    text-align: center;
    width: 25px;
}
.btn{
    color: white;
    cursor: pointer;
    outline: none;
    width: 25%;
    margin: 12px 0;
    border: 2px solid purple;
    padding: 12px 2px;
    border-radius: 10px;
    background: none;
    font-size: 18px;
    font-weight: bold;
}
.btn:hover{
    color: purple;
    background: white;
    opacity: 0.5;
}